<%- include("partials/header") %>

    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/landing.css" type="text/css">

<div id="landing-header">
  <div class="welcome">
    <h1>Welcome to the Recipe Book</h1>
    <a href="/recipes" class="btn buttonOrange">Open</a>
  </div>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
    
<%- include("partials/footer") %>

